# 依赖包，必须忽略
node_modules/

# vite打包产物
dist/
dist-server/

# TypeScript构建缓存
*.tsbuildinfo

# 本地环境变量（防止密钥泄露！你的大模型key不要提交到github）
.env
.env.local
.env.*.local

# 日志、测试结果
test-results/
*.log

# 编辑器缓存
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 个人笔记，不纳入仓库
测试笔记.xmind
